@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #d9b74a;
  --color-background-light: #f8f7f6;
  --color-background-dark: #201c12;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-handwritten: "Dancing Script", cursive;
}

@layer base {
  body {
    @apply bg-background-light text-slate-900 font-sans antialiased;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d9b74a40;
  border-radius: 10px;
}
